<table class="table">
  <tr>
    <th>Name</th>
    <th>File/Document</th>
    <th>Download</th>
    <th>update</th>
    <th>Delete</th>
  </tr>
  <% @documents.each do |document| %>
    <tr>
      <td><%= document.name %></td>
      <td><%= document.file.filename %></td>
      <td><%= link_to 'Download', rails_blob_path(document.file, disposition: "attachment") %></td>
      <td><%= link_to 'Update', edit_document_path(document) %></td>
      <td><%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
